* {
    margin: 0px;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header-text {
    background-image: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 230px;
    padding-top: 216px;
    padding-left: 845px;
    padding-bottom: 167px;
}

.header-h1 {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.header-small {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
    display: block;
}

.header-btn {
    background: #F15B22;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 64px;
}

.header-btn p {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* failure section */
.failure-container {
    display: flex;
    align-items: center;
    padding: 130px 322px 0px 206px;
}

.failure-text {
    margin-left: 87px;
}

.failure-h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failure-p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-list {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style-type: none;
}

.failure-list i {
    color: rgba(22, 216, 135, 1);
}

/* plans section */
.plans-container {
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
}

.plan h5 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
    margin-top: 20px;
}

.plan p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* mindset section */
.mindset-container {
    width: 1140px;
    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("images/watch.png");
    border-radius: 8px;
    margin: 0px 230px 130px 230px;
}

.mindset-h3 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 59px 617px 24px 64px;
}

.mindset-btn {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-left: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}

/* subscribe section */
.subscribe-container {
    background: #151414;
    padding: 130px 230px;
    display: flex;
}

.future-part {
    margin-right: 331px;
}

.future-part h3 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.future-part p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 26px;
}

.future-part a {
    text-decoration: none;
}

.subscribe-part h6 {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.subscribe-part input {
    background-color: #151414;
    width: 342px;
    height: 82.57px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding-left: 22px;
}

.subscribe-part button {
    margin-left: 0px;
}